<%= javascript_include_tag('main.js') %>

<div class="banner">
	<div class="brand">
		<div id="logo-lg"><img src="/assets/b-only.png" alt="logo-large"></div>
		<div id="logo-text"><img src="/assets/b-only2.png" alt="logo-slogan"></div>
		<p id="slogan"></p>
	</div>
	<a href="#new"><i class="fas fa-angle-double-down"></i></a>
</div>

<div class="new" id="new">
	<div class="image-slider">
		<div class="arrows">
			<span title="1" class="arrow"> < </span>
			<span title="0" class="arrow" style="float: right"> > </span>
		</div>
		<div class="images">
			<% @post.each do |post| %>
				<%= link_to post do %>
					<%= image_tag(post.medium(0)) %>  
				<% end %>
			<% end %>
		</div>
	</div>
	<%= link_to 'New In', posts_path, class: "btn btn-new"%>
</div>

<div class="about">
	<div class="cards">
		<div class="card">
			<h2 id="about_title1"></h2>
			<p id="about_content1"></p>
		</div>
		<div class="card middle">
			<h2 id="about_title2"></h2>
			<p id="about_content2"></p>
		</div>
		<div class="card">
			<h2 id="about_title3"></h2>
			<p id="about_content3"></p>
		</div>
	</div>
	<div class="pattern-block">	
	</div>
</div>

<div class="contact">
	<h2 id="contact1"></h2>
	<h2 id="contact2"></h2>
	<h1 id="contact3"></h1>
	<h2 id="call"></h2>
</div>







 
