<div id="edit">
	<h1>Edit Post</h1>
	<%= render 'form' %>
	<div class="control">
		<%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
			<i class="far fa-trash-alt btn"></i>
		<% end %>
	</div>
</div>
