<div class="container">
	<h1>Edit Post</h1>
	<%= render 'form' %>
	<%= link_to "Cancel", root_path, class: "btn btn-primary" %>
	<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>