
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$color1: #FECF8C;

/* Components */
.btn {
	font-size: 18px;
	line-height: 26px;
	border: 2px solid black;
	border-radius: 3px;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}

.btn-control {
	font-size: 18px;
	border: none;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	color: rgba(255,255,255,0.9);
}

.btn-lang {
	padding: 0;
	border: none;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 36px;
}

.navbar {
	height: 36px; 
	position: relative;
	background-color: rgba(0,0,0,1);
	padding: 0 50px 0 50px;
	.lang {
		display: inline-block;
		float: left;
	}
	.control {
		display: inline-block;
		float: right;
		a {
			display: inline-block;
			text-decoration: none;
		}
	}
}

@media (max-width: 768px) {
	.navbar {
		height: 36px; 
		position: relative;
		background-color: rgba(0,0,0,1);
		padding: 0 50px 0 50px;
		display: flex;
		justify-content: center;
		.lang {
			display: inline-block;
			float: left;
			#CN {
				margin-right: 15px;
			}
		}
		.control {
			display: inline-block;
			float: left;
			a {
				display: inline-block;
				text-decoration: none;
			}
		}
	}
}

.dropdown {
  display: inline-block;
  .dropdown-btn {
    border: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    width: 160px;
    transform: translateX(-50%);

    a {
      color: black;
      text-decoration: none;
      text-align: left;
      padding: 12px 16px;
      display: block;
    }
    a:hover {
      background-color: #ddd;
    }
    a:nth-child(1) {
    	border-bottom: 1px solid rgba(0,0,0,0.2);
    }
  }
}
.dropdown:hover .dropdown-content {
    display: block;
}



footer {
	position: relative;
	background-color: rgba(0,0,0,1);
	text-align: center;
	padding: 24px 0 24px 0;
	margin: 0;
	p {
		margin: 0;
		padding: 0;
		font-size: 14px;
		color: white;
	}
}